.heading {
    width: 100%;
    margin-top: 0px;
    font-size: large;
    color:rgb(251, 255, 0);
    font-weight:bolder;
}


body {
    background-image: url("http://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max");
}

#n_ofobjects, #status, #start {
    font-size: 18px;
}

canvas{
    box-shadow: 5px 5px 5px rgb(2, 2, 128);
    border-radius: 10px;
    margin-top: 180px;
}


